node_modules/
build/
src/utils/api.js
vite.config.js 31ms
src/redux/authUser/action.js 
src/redux/authUser/reducer.js
src/redux/store.js
src/redux/users/action.js 
src/redux/users/reducer.js
src/index.css 114ms
src/hooks/useAuth/dataUser.jsx
src/hooks/useAuth/form.jsx
src/hooks/useAuth/message.jsx
src/App.jsx
index.html
.eslintrc.cjs 
.prettierrc
postcss.config.js
src/main.jsx