@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


/* :root {  
  --error: #CF6679;
  --warning: #F39C12;
  --on-background: #dad2d2;
  --on-background-grey: #c7c7c7;
  --on-surface: #FFFFFF;
} */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #FAFBFC;
}

a {
  color: var(--on-background);
  text-decoration: none;
}

/* #root {
  background-color: rgb(245, 243, 243);
} */